References\
https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

In [16]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore',category=FutureWarning)

df = pd.read_csv('cleaned_data.csv')
df.head()

,Unnamed: 0,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,...,SynergySP,Arms,Project No.9,David Production,TNK,Telecom Animation Film,White Fox,Wit Studio,Producer,Duration_mins
0,0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26,...,False,False,False,False,False,False,False,False,Bandai Visual,24
1,2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26,...,False,False,False,False,False,False,False,False,none,24
2,3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26,...,False,False,False,False,False,False,False,False,Dentsu,25
3,4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52,...,False,False,False,False,False,False,False,False,Dentsu,23
4,5,15,Eyeshield 21,UNKNOWN,アイシールド21,7.92,Sports,"Shy, reserved, and small-statured, Deimon High...",TV,145,...,False,False,False,False,False,False,False,False,Nihon Ad Systems,23

In [17]:
# set categorical types
category_cols = ['Rating','Type','Status','Source','season','Studio']
int_cols = ['Rank','Episodes','Scored By','Popularity','Favorites','Members','Premier_Month']
float_cols = ['Score']

genres = ['Action', 'Adventure', 'Avant Garde', 'Award Winning', 'Boys Love', 'Comedy', 'Drama', 'Fantasy', 'Girls Love', 'Gourmet', 'Horror', 'Mystery', 'Romance', 'Sci-Fi', 'Slice of Life', 'Sports', 'Supernatural', 'Suspense', 'Ecchi']
studios = ['Toei Animation', 'Sunrise', 'J.C.Staff', 'Madhouse', 'Studio Deen', 'TMS Entertainment', 'Nippon Animation', 'Pierrot', 'A-1 Pictures', 'OLM', 'Tatsunoko Production', 'Production I.G', 'Gonzo', 'Xebec', 'Bones', 'SILVER LINK.', 'Satelight', 'Doga Kobo', 'Shaft', "Brain's Base", 'LIDENFILMS', 'Group TAC', 'MAPPA', 'Shin-Ei Animation', 'feel.', 'Diomedéa', 'AIC', 'Studio Comet', 'Zexcs', 'Kyoto Animation', 'Lerche', 'Tokyo Movie Shinsha', 'P.A. Works', 'Gallop', 'Ashi Productions', 'Studio Hibari', '8bit', 'DLE', 'Tezuka Productions', 'Seven', 'Studio Gokumi', 'Bandai Namco Pictures', 'Gainax', 'Bee Train', 'Kinema Citrus', 'SynergySP', 'Arms', 'Project No.9', 'David Production', 'TNK', 'Telecom Animation Film', 'White Fox', 'Wit Studio']

types = dict([(i,'category') for i in category_cols])
df = df.astype(types)

## Support Vector Classification
### Parts
#### > Functions
#### > Analysis
    >> Genres
    >> Studios
    >> Genres+Studios 
    >> Genres+Studios+Popularity
    >> Members

### Functions

In [18]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.model_selection import train_test_split

def train_svm(X_train, y_train):
  # Define and fit the SVR model
  model = SVR()
  model.fit(X_train, y_train)
  return model

def create_df(df_name, features):
    for i in features:
        df_name[i]=df[i]
    return df_name

def evaluate(features_df, score_array):
    X_train, X_test, y_train, y_test = train_test_split(features_df, score_array, test_size=0.2, random_state=42)
    model=train_svm(X_train, y_train)
    
    y_predicted = model.predict(X_test)
    mse = mean_squared_error(y_test, y_predicted)
    r_squared = r2_score(y_test, y_predicted)
  
    
    print("Mean Squared Error:", mse)
    print("R-squared:", r_squared)

In [19]:
#Score array, our indicator for how good an anime is 
target='Score'
score=df[['Score']]
score_array=score.to_numpy().flatten()
print(score_array)

[8.75 8.22 7.25 ... 7.56 6.19 6.09]

### Analysis of Genres

In [20]:
genre_df=pd.DataFrame()
create_df(genre_df, genres)

,Action,Adventure,Avant Garde,Award Winning,Boys Love,Comedy,Drama,Fantasy,Girls Love,Gourmet,Horror,Mystery,Romance,Sci-Fi,Slice of Life,Sports,Supernatural,Suspense,Ecchi
0,True,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,True,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False
3,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
4277,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4278,True,True,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False
4279,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False
4280,True,True,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False

In [21]:
evaluate(genre_df, score_array)

Mean Squared Error: 0.48918058163606476
R-squared: 0.1880285081472235

### Analysis of Studios

In [22]:
studios_df=pd.DataFrame()
create_df(studios_df, studios)

,Toei Animation,Sunrise,J.C.Staff,Madhouse,Studio Deen,TMS Entertainment,Nippon Animation,Pierrot,A-1 Pictures,OLM,...,Bee Train,Kinema Citrus,SynergySP,Arms,Project No.9,David Production,TNK,Telecom Animation Film,White Fox,Wit Studio
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4278,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4279,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4280,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
evaluate(studios_df, score_array)

Mean Squared Error: 0.5085282455724737
R-squared: 0.1513370510177724

### Analysis of Popularity

In [24]:
pop_df=pd.DataFrame()
create_df(pop_df, ['Popularity'])

      Popularity
0             43
1            246
2           1795
3           5126
4           1252
...          ...
4276        3074
4277        6339
4278        4673
4279        3626
4280        6795

[4281 rows x 1 columns]

In [25]:
evaluate(pop_df, score_array)

Mean Squared Error: 0.43504488916099515
R-squared: 0.3392599824100688

### Analysis of Genres+Studios

In [26]:
genre_studios=genres+studios
genre_studios_df=pd.DataFrame()
create_df(genre_studios_df, genre_studios)

,Action,Adventure,Avant Garde,Award Winning,Boys Love,Comedy,Drama,Fantasy,Girls Love,Gourmet,...,Bee Train,Kinema Citrus,SynergySP,Arms,Project No.9,David Production,TNK,Telecom Animation Film,White Fox,Wit Studio
0,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4278,True,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4279,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4280,True,True,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
evaluate(genre_studios_df, score_array)

Mean Squared Error: 0.47471241472512193
R-squared: 0.2572806491982047

### Analysis of Genres+Studios+Popularity

In [28]:
combined=genres+studios+['Popularity']
combined_df=pd.DataFrame()
create_df(combined_df, combined)

,Action,Adventure,Avant Garde,Award Winning,Boys Love,Comedy,Drama,Fantasy,Girls Love,Gourmet,...,Kinema Citrus,SynergySP,Arms,Project No.9,David Production,TNK,Telecom Animation Film,White Fox,Wit Studio,Popularity
0,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,43
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,246
2,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,1795
3,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,5126
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3074
4277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,6339
4278,True,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,4673
4279,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3626
4280,True,True,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,6795

In [29]:
evaluate(combined_df, score_array)

Mean Squared Error: 0.4613047030184581
R-squared: 0.31613948104708856

In [30]:
mm_df=pd.DataFrame()
create_df(mm_df, ['Members'])
evaluate(mm_df, score_array)

Mean Squared Error: 0.41974647491945566
R-squared: 0.293324345547749